SECRET_KEY ='you-will-never-guess'
COOKIE_EXPIRATION=72000
COOKIE_AUTORENEW=True

SQLALCHEMY_DATABASE_URI = 'postgresql://user:password@localhost:5432/database'
SQLALCHEMY_TRACK_MODIFICATIONS = False
URL_APPLICATION = '<MY_URL>'
CODE_DEPARTMENT = ["05", "38"]
