alembic==1.0.10
Click==7.0
Flask==1.1.1
Flask-Login==0.4.1
flask-marshmallow==0.9.0
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
geoalchemy2==0.4.0
GEOS==0.2.2
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.12
MarkupSafe==1.1.1
marshmallow==2.15.6
marshmallow-sqlalchemy==0.14.1
psycopg2==2.8.5
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
git+https://github.com/PnX-SI/UsersHub-authentification-module@1.4.3
shapely==1.7.0
six==1.12.0
SQLAlchemy==1.3.3
Werkzeug==0.15.4
WTForms==2.2.1
gunicorn==19.7.0