.title{
	text-align:center;

}
#map{
	width:70%;
	height:90%;
	float:right;
	margin-right:1%;
}
.leftMap{
	width:25%;
	height:90%;
	float:left;
}
.selectConstat{
	vertical-align:top;
}
button{
	button-align:right;
}
#liste button{
	width:100%;
}
.collapse-show{
	margin:1%;
}