{% extends "base.html" %}

{% macro render_field(field) -%}
    <div class="form-group">
        <small> <b> {{field.label}}</b> </small>
        {% if form.errors and not field.validate(form)%}
            {{field(class_="form-control form-control-sm is-invalid")}}
            <div class="invalid-feedback mb-2">
                {% for e in field.errors %}
                <small>  {{e}}  </small>
                {% endfor %}
            </div>
        {% else %} 
            {{field(class_="form-control form-control-sm mb-2")}}
        {% endif %}
{%- endmacro %}

{% block content %}
<div id="bloc">
<div id="map"></div>
<div class="leftMap">
    <center><h1>Ajouter un constat</h1></center>
	<form action="{{url_for('routes.add')}}" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{render_field(form.date_attaque)}}
        {{render_field(form.date_constat)}}
        {{render_field(form.nom_agent1)}}
        {{render_field(form.nom_agent2)}}
        {{render_field(form.proprietaire)}}
        {{render_field(form.type_animaux)}}
        {{render_field(form.nb_victimes_mort)}}
        {{render_field(form.nb_victimes_blesse)}}
        {{render_field(form.statut)}}
        {{render_field(form.nb_jour_agent)}}
        <br>
        <div><button id="subform" type="submit" class="btn btn-success" disabled>Ajouter le constat</button></div>
        <input type="hidden"  type="text" name="geomlat" id="geomlat">
        <input type="hidden"  type="text" name="geomlng" id="geomlng">
    </form>
</div>
</div>
<script>
    var map = L.map('map').setView([44.8, 6.2], 10);
    L.tileLayer('https://a.tile.opentopomap.org/{z}/{x}/{y}.png', {
	    attribution: 'Map data: &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, SRTM | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (CC-BY-SA)'
        }).addTo(map); 
	var marker;
	
	var addConstat=function(e){
		if(marker!=undefined){
            map.removeLayer(marker)	
		}
        marker = L.marker(e.latlng)
        marker.addTo(map);
        marker.bindPopup("Vous placez un constat ici").openPopup();		
		document.getElementById("geomlat").value = e.latlng.lat;
        document.getElementById("geomlng").value = e.latlng.lng;
		document.getElementById("subform").disabled=false;
	}
	map.on("click",addConstat);
</script>
{% endblock %}
