{% extends "base.html" %}

{% block content %}
<center><h1>Ajouter un constat</h1></center>
<div id="map"></div>
<div class="leftMap">
    <form action="{{url_for('routes.addDecla')}}" method="post" novalidate>
            {{ form.hidden_tag() }}
        <div class="form-group">
            Date de l'attaque<br>
            {{ form.date_attaque_d(size=18, placeholder='dd/mm/aaaa',required='required') }}
        </div>
        <div class="form-group">
            Date du constat<br>
            {{ form.date_constat_d(size=18, placeholder='dd/mm/aaaa',required='required') }}
        </div>
        <div class="form-group">
            Lieu dit du constat<br>
            {{ form.lieu_dit(size=18,placeholder="lieu") }}
        </div>
        <div class="form-group">
            Propriétaire<br>
            {{ form.proprietaire_d(size=18,placeholder='Prénom Nom') }}
        </div>
        <div class="form-group">
            Type d'animaux<br>
            {{ form.type_animaux_d(size=1) }}
        </div>		
        <div class="form-group">
            Nombre de morts<br>
            {{ form.nb_victimes_mort_d(size=18,value=0) }}
        </div>
        <div class="form-group">
            Nombre de blessés<br>
            {{ form.nb_victimes_blesse_d(size=18, value=0) }}
        </div>			
        <div class="form-group">
            Statut du constat<br>
            {{ form.statut_d(size=1) }}
        </div>		
        <input type="hidden"  type="text" name="geomlat" id="geomlat">
        <input type="hidden"  type="text" name="geomlng" id="geomlng">		
        <div><button id="subform" type="submit" class="btn btn-primary" disabled>Ajouter le constat</button></div>
    </form>
</div>
<script>
    var map = L.map('map').setView([44.8, 6.2], 10);
    L.tileLayer('https://a.tile.opentopomap.org/{z}/{x}/{y}.png', {
	    attribution: 'Map data: &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, SRTM | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (CC-BY-SA)'
        }).addTo(map);
	var marker;

	var addConstat=function(e){
		if(marker!=undefined){
            map.removeLayer(marker)	
		}
        marker = L.marker(e.latlng)
        marker.addTo(map);
        marker.bindPopup("Vous placez un constat ici").openPopup();		
		document.getElementById("geomlat").value = e.latlng.lat;
        document.getElementById("geomlng").value = e.latlng.lng;		
		document.getElementById("subform").disabled=false;
	}
	map.on("click",addConstat);	
</script>
{% endblock %}
