<html>
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        
        <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"> </script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
		
		<script src="{{ url_for('static', filename='leaflet-easyPrint-gh-pages/dist/bundle.js') }}"></script>
		
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css">
          
          <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styleCarte.css') }}"/>
		  <link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css"/>
      
		<title>GeoConstats</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" id="image"><img src="{{url_for('static',filename='logoEcrins.png')}}"></a>
			<div id="navbarNavDropdown" class="navbar-collapse collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navConstat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Constats
						</a>
						<div class="dropdown-menu" aria-labelledby="navConstat">
							<a class="dropdown-item" href="{{url_for('routes.map')}}">Visualiser les constats</a>
							<a class="dropdown-item" href="{{ url_for('routes.form') }}">Ajouter un constat</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navDecla" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Déclaratifs
						</a>
						<div class="dropdown-menu" aria-labelledby="navDecla">
							<a class="dropdown-item" href="{{url_for('routes.decla')}}">Visualiser les constats déclaratifs</a>
							<a class="dropdown-item" href="{{ url_for('routes.formDecla') }}">Ajouter un constat déclaratif</a>
						</div>
					</li>				
					<li class="nav-item"><a class="nav-link" href="{{url_for('routes.dashboard')}}">Tableau de bord</a></li>	
					<li class="nav-item"><a class="nav-link" href="http://www.ecrins-parcnational.fr/" onclick="window.open(this.href); return false;">Site du Parc</a></li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">	
						<a class="nav-link dropdown-toggle" href="#" id="user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{g.user.prenom_role}} {{g.user.nom_role}}
						</a>						
						<div class="dropdown-menu" aria.labelledby="user">
							<a class="dropdown-item" title="Déconnexion" href="{{ url_for('auth.logout') }}?redirect={{url_for('routes.login')}}">
								Déconnexion
							</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
        {% block content %}{% endblock %}
    </body>
</html>