{% extends "base.html" %}

{% block content %}
<div id="bloc">
	<div id="map"></div>
	<div class="leftMap">
		<center><h1>Constat {{constat.properties.id_constat}}</h1></center>
		<div style="padding-left:10px;" id="textConstat">
				<span class="attr">Numéro : </span> <span class="value"> {{constat.properties.id_constat}}</span>  <br>
				<span class="attr">Déclaratif : </span> 
					<span class="value"> 
						{% if constat.properties.declaratif == True %}
						 Oui 
						{% elif constat.properties.declaratif == False %} 
						 Non
						{% endif %} 
					</span>  <br>
				<span class="attr">Date de l'attaque : </span>  <span class="value">{{constat.properties.date_attaque}}</span> <br>
				<span class="attr"> Date du constat : </span><span class="value">{{constat.properties.date_constat}}</span><br>
				<span class="attr">Nombre de victimes (morts) :</span> 
					<span class="value">{{ constat.properties.nb_victimes_mort }}</span><br>
				<span class="attr">Nombre de victimes (blessés) :</span> <span class="value">{{ constat.properties.nb_victimes_blesse }}</span><br>
				<span class="attr">Nombre de disparus :</span> <span class="value">{{ constat.properties.nb_disparus }}</span><br>
				<span class="attr">Nombre d'indemnisés : </span><span class="value">{{ constat.properties.nb_indemnises }}</span><br>
				<span class="attr">Nom du 1er agent recenseur : </span><span class="value">{{ constat.properties.nom_agent1 }}</span><br>
				<span class="attr">Nom du 2ème agent recenseur : </span><span class="value">{{ constat.properties.nom_agent2 }}</span><br>
				<span class="attr">Propriétaire : </span><span class="value">{{ constat.properties.proprietaire }}</span><br>
				<span class="attr">Type d'animaux : </span><span class="value">{{ constat.properties.type_animaux_rel.nom }}</span><br>
				<span class="attr">Secteur : </span><span class="value">{{constat.properties.secteur.area_name}}</span><br>
				<span class="attr">Commune : </span><span class="value">{{constat.properties.commune.area_name}}</span><br>
				<span class="attr">Département : </span><span class="value">{{constat.properties.departement.area_name}}</span><br>
				<span class="attr">Coeur de parc : </span><span class="value">{{constat.properties.dans_coeur}}</span><br>
				<span class="attr">Aire d'adhesion: </span><span class="value">{{constat.properties.dans_aa}}</span><br>
				<span class="attr">Créateur du constat : </span><span class="value">{{constat.properties.digitizer.nom_complet }}</span> <br>
				<span class="attr">Statut : </span><span class="value">{{ constat.properties.statut_rel.nom }}</span><br>
				<span class="attr">Nombre de jours agent : </span><span class="value">{{constat.properties.nb_jour_agent}}</span><br>		
		</div>
    </div>
</div>
<script>
	var urlAreas = "{{url_for("routes.get_areas", _external=True)}}";
</script>
<script src="{{url_for('static', filename='map.js')}}"></script>
<script>
	var constatFilter={
		'id_constat':'{{constat.properties.id_constat}}',
		'date_attaque': '{{ constat.properties.date_attaque }}',
		'date_constat': '{{ constat.properties.date_constat }}',
		'nb_victimes_mort': '{{ constat.properties.nb_victimes_mort }}',
		'nb_victimes_blesse': '{{ constat.properties.nb_victimes_blesse }}',
		'nom_agent1': '{{ constat.properties.nom_agent1 }}',
		'nom_agent2': '{{ constat.properties.nom_agent2 }}',
		'proprietaire': '{{ constat.properties.proprietaire }}',
		'type_animaux': '{{ constat.properties.type_animaux }}',
		'statut': '{{ constat.properties.statut }}',
		'secteur': '{{ constat.properties.secteur }}',
		'commune': '{{ constat.properties.commune }}',
		'departement': '{{ constat.properties.departement }}',
		'localisation': '{{ constat.properties.localisation }}',
		'geometry': '{{ constat.geometry | tojson}}'
	};    
	L.control.scale().addTo(map);
	var marker=L.marker([JSON.parse(constatFilter.geometry).coordinates[1],JSON.parse(constatFilter.geometry).coordinates[0]]) .addTo(map);
	console.log("MAPPPP", map)
	 var printer = L.easyPrint({
		tileLayer: mainTileLayer,
		sizeModes: ['A4Landscape'],
		filename: 'constat {{constat.properties.date_constat}}',
		exportOnly: true,
	  hideControlContainer:false
	}).addTo(map);
	
</script>
{% endblock %}


