{% extends "base.html" %}
{% block content %}
<h3>Filtres sur les constats</h3>
<form method="GET" novalidate>
    <div class="form-group">
        Type d'animaux <br>
        {{ form.animaux(size=1) }}
        {% for error in form.animaux.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>		
    <div class="form-group">
        Année du constat <br>
        {{ form.date(size=1) }}
        {% for error in form.date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-group">
        Statut du constat <br>
        {{ form.statut(size=1) }}
        {% for error in form.statut.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-group"><button id="subform" type="submit" formaction="{{url_for('routes.dashboard')}}" class="btn btn-primary">Filtrer les données</button></div>
        
</form>
<div class="col-md-4">
    <table class="table table-bordered" id="departement">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre de constats</th>
                {% for constats in dataDep['total'] %}
                <th scope="col">{{constats['departement']}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <th>
                    Constats
                </th>
                {% for constats in dataDep['constats'] %}
                <td>{{constats['nombre']}}</td>
                {% endfor %}            
            </tr>
            <tr scope="row">
                <th>
                    Déclaratifs
                </th>
                {% for constats in dataDep['declaratifs'] %}
                <td>{{constats['nombre']}}</td>
                {% endfor %}            
            </tr>
            <tr scope="row">
                <th>
                    Total
                </th>
                {% for constats in dataDep['total'] %}
                <td>{{constats['nombre']}}</td>
                {% endfor %}            
            </tr>                
        </tbody>
    </table>
    <a class="btn btn-primary" role="button" onclick="tab2Json()">Exporter le tableau</a>
</div>
<div class="col-md-9">
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Nombre de constats</th>
            {% for constats in dataSec['total'] %}
            <th>{{constats['secteur']}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr scope="row">
            <th>
                Constats
            </th>
            {% for constats in dataSec['constats'] %}
            <td>{{constats['nombre']}}</td>
            {% endfor %}            
        </tr>
        <tr scope="row">
            <th>
                Déclaratifs
            </th>
            {% for constats in dataSec['declaratifs'] %}
            <td>{{constats['nombre']}}</td>
            {% endfor %}            
        </tr>
        <tr scope="row">
            <th>
                Total
            </th>
            {% for constats in dataSec['total'] %}
            <td>{{constats['nombre']}}</td>
            {% endfor %}            
        </tr>                
    </tbody>
</table>
</div>
<script>
var tab2Json = function(){
var $table=$("#departement"),
    rows = [],
    header = [];
console.log($table.find("thead tr th"))
$table.find("thead tr th").each(function () {
    header.push($(this).html());
});

$table.find("tbody tr").each(function () {
    var row = {};

    $(this).find("th").each(function (i) {
        var key = header[i],
            value = $(this).html();

        row[key] = value;
    });

    $(this).find("td").each(function (i) {
        var key = header[i],
            value = $(this).html();

        row[key] = value;
    });

    rows.push(row);
});
console.log($table)
}
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const date = urlParams.get('date');
if(date != null){
    document.getElementById("date").value=date;
}
const animaux = urlParams.get('animaux');
if(animaux != null){
    document.getElementById("animaux").value=animaux;
}
const statut = urlParams.get('statut');
if(statut != null){
    document.getElementById("statut").value=statut;
}		

</script>
{% endblock %}