{% extends "base.html" %}
{% block content %}
	<center><h1>Constats dans le Parc national des Ecrins</h1></center>
	<div id="liste" class="leftMap">
		<h3>Filtres sur les constats</h3>
		<form method="GET" novalidate>
			<div class="form-group">
				Type d'animaux <br>
				{{ form.animaux(size=1) }}
				{% for error in form.animaux.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>		
			<div class="form-group">
				Année du constat <br>
				{{ form.date(size=1,default=0) }}
				{% for error in form.date.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="form-group">
				Statut du constat <br>
				{{ form.statut(size=1) }}
				{% for error in form.statut.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="form-group"><button id="subform" type="submit" formaction="{{url_for('routes.decla')}}" class="btn btn-primary">Filtrer les données</button></div>
			<div class="form-group"><button type="submit" formaction="{{url_for('routes.downloadDecla')}}" class="btn btn-secondary">Télécharger les données</button></div>	
		</form>
		<center><h3 id="countCsts">Liste des constats</h3></center>
		{% for decla in Declaratifs %}
			<center><button class="btn btn-light" data-toggle="collapse" name="dataBouton" data-target="#textDecla{{decla.properties.id_constat_d}}" style="margin:3px; display:list-item block;">{{decla.properties.date_constat_d}} {{decla.properties.type_animaux_d}}</button></center>
			<center><div style="vertical-align:middle;"id="textDecla{{decla.properties.id_constat_d}}" class="collapse bg-light">
				Numéro : {{decla.properties.id_constat_d}} <br>
				Date de l'attaque : {{decla.properties.date_attaque_d}} <br>
				Date du constat : {{decla.properties.date_constat_d}}<br>
				Nombre de victimes (morts) : {{ decla.properties.nb_victimes_mort_d }}<br>
				Nombre de victimes (blessés) : {{ decla.properties.nb_victimes_blesse_d }}<br>
				Lieu dit : {{decla.properties.lieu_dit}}<br>
				Propriétaire : {{ decla.properties.proprietaire_d }}<br>
				Type d'animaux : {{ decla.properties.type_animaux_d }}<br>
				Secteur : {{decla.properties.secteur_d}}<br>
				Commune : {{decla.properties.commune_d}}<br>
				Département : {{decla.properties.departement_d}}<br>
				Localisation : {{decla.properties.localisation_d}}<br>
				Créateur du constat: {{decla.user.prenom_d}} {{decla.user.nom_d}}<br>
				Statut : {{ decla.properties.statut_d }}<br>
				<p><a class="btn btn-primary" role="button" href="{{url_for('routes.updateDecla',idc=decla.properties.id_constat_d)}}">Modifier le constat</a></p>
				<p><a class="btn btn-primary" role="button" href="{{url_for('routes.deleteDecla',idc=decla.properties.id_constat_d)}}">Supprimer le constat</a></p>
				<p><a class="btn btn-primary" role="button" href="{{url_for('routes.dataDecla',idc=decla.properties.id_constat_d)}}">Informations</a></p>
			</div></center>
			<br>

		{%endfor%}
	</div>
	<div id="map"></div>
	<br>
    <button onclick="changeZoom()">
        Vue sur le parc
    </button>
    <script> 
        // CONFIGURATION DE LA CARTE //
        var map = L.map('map').setView([44.8, 6.2], 10);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map); 
        // ACTIONS SUR LA CARTE
        function changeZoom() {
            map.setZoom(10);
            map.setView([44.8, 6.2]);   
        } 	
		//Recuperation des donnes de declaratifs
        var jsonData = [
			{% for decla in Declaratifs %}
				{
				'id_constat_d':'{{decla.properties.id_constat_d}}',
				'date_attaque_d': '{{ decla.properties.date_attaque_d }}',
				'date_constat_d': '{{ decla.properties.date_constat_d }}',
				'nb_victimes_mort_d': '{{ decla.properties.nb_victimes_mort_d }}',
				'nb_victimes_blesse_d': '{{ decla.properties.nb_victimes_blesse_d }}',
				'lieu_dit':'{{decla.properties.lieu_dit}}',
				'proprietaire_d': '{{ decla.properties.proprietaire_d }}',
				'type_animaux_d': '{{ decla.properties.type_animaux_d }}',
				'statut_d': '{{ decla.properties.statut_d }}',
				'secteur_d': '{{ decla.properties.secteur_d }}',
				'commune_d': '{{ decla.properties.commune_d }}',
				'departement_d': '{{ decla.properties.departement_d }}',
				'localisation_d': '{{ decla.properties.localisation_d }}',
				'prenom_d': '{{ decla.user.prenom_d }}',
				'nom_d': '{{ decla.user.nom_d }}',
				'geom':'{{decla.geometry | tojson}}',
				},
			{% endfor %}
        ]
		document.getElementById("countCsts").textContent += " ("+ jsonData.length+")";
		//Ajout des points avec marker cluster
		var markersCluster = new L.MarkerClusterGroup({
		    iconCreateFunction: function(cluster) {
				return L.divIcon({ 
					html: cluster.getChildCount(), 
					className: 'mycluster', 
					iconSize: null 
				});
			}
		});
		map.addLayer(markersCluster);
        var addMarkers = function(point) {
            var markerC=L.marker([JSON.parse(point.geom).coordinates[1],JSON.parse(point.geom).coordinates[0]]) 
				.bindPopup("Constat numéro : "+point.id_constat_d+"<br>"+ 
					"Date de l'attaque : "+point.date_attaque_d+"<br>"+ 
				    "Date du constat : "+point.date_constat_d+"<br>"+ 
					"Nombre de victimes (mort) : "+point.nb_victimes_mort_d+"<br>"+ 
					"Nombre de victimes (blessé) : "+point.nb_victimes_blesse_d+"<br>"+ 
					"Nom du 1er agent recenseur : "+point.lieu_dit+"<br>"+ 
					"Propriétaire : "+point.proprietaire_d+"<br>"+ 
					"Type d'animaux : "+point.type_animaux_d+"<br>"+ 
					"Secteur : "+point.secteur_d+"<br>"+ 
					"Commune : "+point.commune_d+"<br>"+ 
					"Département : "+point.departement_d+"<br>"+
					"Localisation : "+point.localisation_d+"<br>"+
					"Créateur du constat : "+point.nom_d+" "+point.prenom_d+"<br>"+
					"Statut : "+point.statut_d+"<br>" 
					) ;
					
				markersCluster.addLayer(markerC); 
        };
        jsonData.forEach(addMarkers);
		//Conservation des valeurs du formulaire de saisie au rafraichissement de la page
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		const date = urlParams.get('date');
		if(date != null){
			document.getElementById("date").value=date;
		}
		const animaux = urlParams.get('animaux');
		if(animaux != null){
			document.getElementById("animaux").value=animaux;
		}
		const statut = urlParams.get('statut');
		if(statut != null){
			document.getElementById("statut").value=statut;
		}		
	
	</script>
{% endblock %}