{% extends "base.html" %}
{% block content %}
	<center><h1>Constats dans le Parc national des Ecrins</h1></center>
	<div id="liste" class="leftMap">
		<h3>Filtres sur les constats</h3>
		<form method="GET" novalidate>
			<div class="form-group">
				Type d'animaux <br>
				{{ form.animaux(size=1) }}
				{% for error in form.animaux.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>		
			<div class="form-group">
				Année du constat <br>
				{{ form.date(size=1) }}
				{% for error in form.date.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="form-group">
				Statut du constat <br>
				{{ form.statut(size=1) }}
				{% for error in form.statut.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="form-group"><button id="subform" type="submit" formaction="{{url_for('routes.map')}}" class="btn btn-primary">Filtrer les données</button></div>
			<div class="form-group"><button type="submit" formaction="{{url_for('routes.download')}}" class="btn btn-secondary">Télécharger les données</button></div>
			
		</form>
		<center><h3 id="countCsts">Liste des constats</h3></center>
		{% for constats in Constats %}
			<center><button class="btn btn-light" data-toggle="collapse" name="dataBouton" data-target="#textConstat{{constats.properties.id_constat}}" style="margin:3px; display:list-item block;" >{{constats.properties.date_attaque}} {{ constats.properties.type_animaux }}</button></center>
			<center><div style="vertical-align:middle;"id="textConstat{{constats.properties.id_constat}}" class="collapse bg-light">
				Numéro : {{constats.properties.id_constat}} <br>
				Date de l'attaque : {{constats.properties.date_attaque}} <br>
				Date du constat : {{constats.properties.date_constat}}<br>
				Nombre de victimes (morts) : {{ constats.properties.nb_victimes_mort }}<br>
				Nombre de victimes (blessés) : {{ constats.properties.nb_victimes_blesse }}<br>
				Nom du 1er agent recenseur : {{ constats.properties.nom_agent1 }}<br>
				Nom du 2ème agent recenseur : {{ constats.properties.nom_agent2 }}<br>
				Propriétaire : {{ constats.properties.proprietaire }}<br>
				Type d'animaux : {{ constats.properties.type_animaux }}<br>
				Secteur : {{constats.properties.secteur}}<br>
				Commune : {{constats.properties.commune}}<br>
				Département : {{constats.properties.departement}}<br>
				Localisation : {{constats.properties.localisation}}<br>
				Créateur du constat : {{constats.user.prenom}} {{constats.user.prenom}}<br>
				Statut : {{ constats.properties.statut }}<br>
				Nombre de jours agent : {{constats.properties.nb_jour_agent}}<br>
				<p><a class="btn btn-primary" role="button" href="{{url_for('routes.update',idc=constats.properties.id_constat)}}">Modifier le constat</a></p>
				<p><a class="btn btn-primary" role="button" href="{{url_for('routes.delete',idc=constats.properties.id_constat)}}">Supprimer le constat</a></p>			
				<p><a class="btn btn-primary" role="button" href="{{url_for('routes.data',idc=constats.properties.id_constat)}}">Informations</a></p>
			</div></center>
			<br>

		{%endfor%}
	</div>
	<div id="map"></div>
	<br>
    <button onclick="changeZoom()">
        Vue sur le parc
    </button>
    <script>
        // CONFIGURATION DE LA CARTE //
        var map = L.map('map').setView([44.8, 6.2], 10);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map); 
        // ACTIONS SUR LA CARTE
        function changeZoom() {
            map.setZoom(10);
            map.setView([44.8, 6.2]);   
        }     
        var jsonData = [
			{% for constats in Constats %}
				{
				'id_constat':'{{constats.properties.id_constat}}',
				'date_attaque': '{{ constats.properties.date_attaque }}',
				'date_constat': '{{ constats.properties.date_constat }}',
				'nb_victimes_mort': '{{ constats.properties.nb_victimes_mort }}',
				'nb_victimes_blesse': '{{ constats.properties.nb_victimes_blesse }}',
				'nom_agent1': '{{ constats.properties.nom_agent1 }}',
				'nom_agent2': '{{ constats.properties.nom_agent2 }}',
				'proprietaire': '{{ constats.properties.proprietaire }}',
				'type_animaux': '{{ constats.properties.type_animaux }}',
				'statut': '{{ constats.properties.statut }}',
				'secteur':'{{constats.properties.secteur}}',
				'commune':'{{constats.properties.commune}}',
				'departement':'{{constats.properties.departement}}',
				'localisation':'{{constats.properties.localisation}}',
				'nb_jour_agent': '{{ constats.properties.nb_jour_agent }}',
				'prenom': '{{ constats.user.prenom }}',
				'nom': '{{ constats.user.nom }}',
				'geometry': '{{ constats.geometry | tojson}}'
				},
			{% endfor %}
        ]
		document.getElementById("countCsts").textContent += " ("+ jsonData.length+")";
		var markersCluster = new L.MarkerClusterGroup({
		    iconCreateFunction: function(cluster) {
				return L.divIcon({ 
					html: cluster.getChildCount(), 
					className: 'mycluster', 
					iconSize: null 
				});
			}
		});
		map.addLayer(markersCluster);
        var addMarkers = function(point) {
            var markerC=L.marker([JSON.parse(point.geometry).coordinates[1],JSON.parse(point.geometry).coordinates[0]]) 
				.bindPopup("Constat numéro : "+point.id_constat+"<br>"+ 
					"Date de l'attaque : "+point.date_attaque+"<br>"+ 
				    "Date du constat : "+point.date_constat+"<br>"+ 
					"Nombre de victimes (mort) : "+point.nb_victimes_mort+"<br>"+ 
					"Nombre de victimes (blessé) : "+point.nb_victimes_blesse+"<br>"+ 
					"Nom du 1er agent recenseur : "+point.nom_agent1+"<br>"+ 
					"Nom du 2eme agent recenseur : "+point.nom_agent2+"<br>"+ 
					"Propriétaire : "+point.proprietaire+"<br>"+ 
					"Type d'animaux : "+point.type_animaux+"<br>"+ 
					"Secteur : "+point.secteur+"<br>"+
					"Commune : "+point.commune+"<br>"+
					"Département : "+point.departement+"<br>"+
					"Localisation : "+point.localisation+"<br>"+
					"Créateur du constat : "+point.prenom+" "+point.nom+"<br>"+
					"Statut : "+point.statut+"<br>" +
					"Nombre de jours agent : "+point.nb_jour_agent+"<br>"			
					) ;
					
				markersCluster.addLayer(markerC); 
        };
        jsonData.forEach(addMarkers);

		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		const date = urlParams.get('date');
		if(date != null){
			document.getElementById("date").value=date;
		}
		const animaux = urlParams.get('animaux');
		if(animaux != null){
			document.getElementById("animaux").value=animaux;
		}
		const statut = urlParams.get('statut');
		if(statut != null){
			document.getElementById("statut").value=statut;
		}		

	</script>
{% endblock %}