	<!-- <small>
			<div id="textConstat{{constats.properties.id_constat}}" class="collapse bg-light">
			Numéro : {{constats.properties.id_constat}} <br>
			Date de l'attaque : {{constats.properties.date_attaque}} <br>
			Date du constat : {{constats.properties.date_constat}}<br>
			Nombre de victimes (morts) : {{ constats.properties.nb_victimes_mort }}<br>
			Nombre de victimes (blessés) : {{ constats.properties.nb_victimes_blesse }}<br>
			Nom du 1er agent recenseur : {{ constats.properties.nom_agent1 }}<br>
			Nom du 2ème agent recenseur : {{ constats.properties.nom_agent2 }}<br>
			Propriétaire : {{ constats.properties.proprietaire }}<br>
			Type d'animaux : {{ constats.properties.type_animaux }}<br>
			Secteur : {{constats.properties.secteur}}<br>
			Commune : {{constats.properties.commune}}<br>
			Département : {{constats.properties.departement}}<br>
			Localisation : {{constats.properties.localisation}}<br>
			Créateur du constat : {{constats.user.prenom}} {{constats.user.nom}}<br>
			Statut : {{ constats.properties.statut }}<br>
			Nombre de jours agent : {{constats.properties.nb_jour_agent}}<br>
			<!--
			<p><a class="btn btn-primary" role="button" href="{{url_for('routes.update',idc=constats.properties.id_constat)}}" id="update{{constats.properties.id_constat}}">Modifier le constat</a></p>
			<p><a class="btn btn-primary" role="button" href="{{url_for('routes.delete',idc=constats.properties.id_constat)}}" id="delete{{constats.properties.id_constat}}">Supprimer le constat</a></p>			
			<p><a class="btn btn-primary" role="button" href="{{url_for('routes.data',idc=constats.properties.id_constat)}}">Informations</a></p>
			-->
			</div>
		</small> -->