{% extends "base.html" %}

{% block content %}
<center><h1>Constat déclaratif {{Declaratif.properties.id_constat_d}}</h1></center>
<div id="map"></div>
<div class="leftMap">
    <form action="{{url_for('routes.updateDBDecla')}}" method="post" novalidate>
            {{ form.hidden_tag() }}
		<div>	
		
			Date de l'attaque <br>
			{{ form.date_attaque_d(size=18,value=Declaratif.properties.date_attaque_d) }}
		</div>
		<div>		
			Date du constat <br>
			{{ form.date_constat_d(size=18,value=Declaratif.properties.date_constat_d) }}		
		</div>
		<div>	
			Lieu dit du constat <br>			
			{{ form.lieu_dit(size=18,value=Declaratif.properties.lieu_dit,placeholder="Lieu") }}
		</div>
		<div>		
			Propriétaire <br>		
			{{ form.proprietaire_d(size=18,value=Declaratif.properties.proprietaire_d,placeholder="Prénom Nom") }}
		</div>
		<div>		
			Type d'animaux <br>			
			{{ form.type_animaux_d(size=1,value=Declaratif.properties.type_animaux_d) }}	
		</div>
		<div>		
			Nombre de morts <br>			
			{{ form.nb_victimes_mort_d(size=18,value=Declaratif.properties.nb_victimes_mort_d) }}
		</div>
		<div>		
			Nombre de blessés <br>		
			{{ form.nb_victimes_blesse_d(size=18, value=Declaratif.properties.nb_victimes_blesse_d) }}
		</div>
		<div>		
			Statut du constat <br>		
			{{ form.statut_d(size=1, value=Declaratif.properties.statut_d) }}
		</div>		
        <center><button type="submit" class="btn btn-primary">Modifier le constat</button></center>
		<input type="hidden"  type="text" name="id_constat_d" id="id_constat_d">
		<input type="hidden"  type="text" name="geomlat" id="geomlat">
        <input type="hidden"  type="text" name="geomlng" id="geomlng">		
    </form>
</div>
<script>
	var constatFilter={
		'id_constat_d':'{{Declaratif.properties.id_constat_d}}',
		'date_attaque_d': '{{ Declaratif.properties.date_attaque_d }}',
		'date_constat_d': '{{ Declaratif.properties.date_constat_d }}',
		'nb_victimes_mort_d': '{{ Declaratif.properties.nb_victimes_mort_d }}',
		'nb_victimes_blesse_d': '{{ Declaratif.properties.nb_victimes_blesse_d }}',
		'lieu_dit': '{{ Declaratif.properties.lieu_dit}}',
		'proprietaire_d': '{{ Declaratif.properties.proprietaire_d }}',
		'type_animaux_d': '{{ Declaratif.properties.type_animaux_name }}',
		'statut_d': '{{ Declaratif.properties.statut_name }}',
		'secteur_d': '{{ Declaratif.properties.secteur_d }}',
		'commune_d': '{{ Declaratif.properties.commune_d }}',
		'departement_d': '{{ Declaratif.properties.departement_d }}',
		'localisation_d': '{{ Declaratif.properties.localisation_d }}',
		'nom_d':'{{ Declaratif.user.nom_d }}',
		'prenom_d':'{{ Declaratif.user.prenom_d }}',
		'geometry':'{{Declaratif.geometry | tojson}}'
	}
	var map = L.map('map').setView([JSON.parse(constatFilter.geometry).coordinates[1],JSON.parse(constatFilter.geometry).coordinates[0]], 14);
    L.tileLayer('https://a.tile.opentopomap.org/{z}/{x}/{y}.png', {
	    attribution: 'Map data: &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, SRTM | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (CC-BY-SA)'
    }).addTo(map);		
	document.getElementById("id_constat_d").value = constatFilter.id_constat_d;	
	document.getElementById("geomlat").value = JSON.parse(constatFilter.geometry).coordinates[1];
    document.getElementById("geomlng").value = JSON.parse(constatFilter.geometry).coordinates[0];			
	var marker=L.marker([JSON.parse(constatFilter.geometry).coordinates[1],JSON.parse(constatFilter.geometry).coordinates[0]]) 
	.bindPopup("Constat numéro : "+constatFilter.id_constat_d+"<br>"+ 
		"Date de l'attaque : "+constatFilter.date_attaque_d+"<br>"+ 
		"Date du constat : "+constatFilter.date_constat_d+"<br>"+ 
		"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort_d+"<br>"+ 
		"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse_d+"<br>"+ 
		"Lieu dit : "+constatFilter.lieu_dit+"<br>"+ 
		"Propriétaire : "+constatFilter.proprietaire_d+"<br>"+ 
		"Type d'animaux : "+constatFilter.type_animaux_d+"<br>"+ 
		"Secteur : "+constatFilter.secteur_d+"<br>" +
		"Commune : "+constatFilter.commune_d+"<br>" +
		"Département : "+constatFilter.departement_d+"<br>" +
		"Localisation : "+constatFilter.localisation_d+"<br>" +
		"Créateur du constat : "+constatFilter.prenom_d+" "+constatFilter.nom_d+"<br>"+
		"Statut : "+constatFilter.statut_d+"<br>" 
	).addTo(map); 

	var addConstat=function(e){
		if(marker!=undefined){
            map.removeLayer(marker)	
		}
        marker = L.marker(e.latlng)
        marker.addTo(map);
        marker.bindPopup("Constat numéro : "+constatFilter.id_constat_d+"<br>"+ 
			"Date de l'attaque : "+constatFilter.date_attaque_d+"<br>"+ 
			"Date du constat : "+constatFilter.date_constat_d+"<br>"+ 
			"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort_d+"<br>"+ 
			"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse_d+"<br>"+ 
			"Lieu dit : "+constatFilter.lieu_dit+"<br>"+  
			"Propriétaire : "+constatFilter.proprietaire_d+"<br>"+ 
			"Type d'animaux : "+constatFilter.type_animaux_d+"<br>"+ 
			"Secteur : "+constatFilter.secteur_d+"<br>"+ 
			"Commune : "+constatFilter.commune_d+"<br>"+
			"Département : "+constatFilter.departement_d+"<br>"+
			"localisation : "+constatFilter.localisation_d+"<br>"+ 
			"Créateur du constat : "+constatFilter.prenom_d+" "+constatFilter.nom_d+"<br>"+
			"Statut : "+constatFilter.statut_d+"<br>" 
		).openPopup();
		document.getElementById("geomlat").value = e.latlng.lat;
		document.getElementById("geomlng").value = e.latlng.lng;	
	}
	map.on("click",addConstat);	
</script>
{% endblock %}
