{% extends "base.html" %}

{% block content %}
<center>
<h1>Add to map</h1>
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <p>
            {{ form.date_attaque.label }}<br>
            {{ form.date_attaque(size=32) }}
            {% for error in form.date_attaque.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date_constat.label }}<br>
            {{ form.date_constat(size=32) }}
            {% for error in form.date_constat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>		
	
        <p>
            {{ form.nom_agent1.label }}<br>
            {{ form.nom_agent1(size=32) }}
            {% for error in form.nom_agent1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nom_agent2.label }}<br>
            {{ form.nom_agent2(size=32) }}
            {% for error in form.nom_agent2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.proprietaire.label }}<br>
            {{ form.proprietaire(size=32) }}
            {% for error in form.proprietaire.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.type_animaux.label }}<br>
            {{ form.typeAnimaux(size=32) }}
            {% for error in form.typeAnimaux.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>		
        <p>
            {{ form.nb_victimes_mort.label }}<br>
            {{ form.nbVictimesMort(size=32) }}
            {% for error in form.nbVictimesMort.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nb_victimes_blesse.label }}<br>
            {{ form.nbVictimesBlesse(size=32) }}
            {% for error in form.nbVictimesBlesse.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>			
        <p>
            {{ form.statut.label }}<br>
            {{ form.statut(size=32) }}
            {% for error in form.statut.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>		
        <p><a herf="{{url_for('map')}}">{{ form.submit() }}</a></p>
    </form>
</center>
{% endblock %}