{% extends "base.html" %}

{% block content %}
<center>
<h1>Add to map</h1>
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <p>
            {{ form.dateAttaque.label }}<br>
            {{ form.dateAttaque(size=32) }}
            {% for error in form.dateAttaque.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.dateConstat.label }}<br>
            {{ form.dateConstat(size=32) }}
            {% for error in form.dateConstat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>		
	
        <p>
            {{ form.nomAgent1.label }}<br>
            {{ form.nomAgent1(size=32) }}
            {% for error in form.nomAgent1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nomAgent2.label }}<br>
            {{ form.nomAgent2(size=32) }}
            {% for error in form.nomAgent2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.proprietaire.label }}<br>
            {{ form.proprietaire(size=32) }}
            {% for error in form.proprietaire.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.typeAnimaux.label }}<br>
            {{ form.typeAnimaux(size=32) }}
            {% for error in form.typeAnimaux.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>		
        <p>
            {{ form.nbVictimesMort.label }}<br>
            {{ form.nbVictimesMort(size=32) }}
            {% for error in form.nbVictimesMort.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nbVictimesBlesse.label }}<br>
            {{ form.nbVictimesBlesse(size=32) }}
            {% for error in form.nbVictimesBlesse.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>			
        <p>
            {{ form.situation.label }}<br>
            {{ form.situation(size=32) }}
            {% for error in form.situation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>		
        <p><a herf="{{url_for('map')}}">{{ form.submit() }}</a></p>
    </form>
</center>
{% endblock %}