{% extends "base.html" %}

{% block content %}
<center><h1>Ajouter un constat</h1></center>
<div id="map" style="height: 92vh;"></div>
<div class="leftMap">
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <div class="form-group">
            Date de l'attaque<br>
            {{ form.date_attaque_d(size=18,value="aaaa/mm/jj") }}
            {% for error in form.date_attaque_d.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            Date du constat<br>
            {{ form.date_constat_d(size=18,value="aaaa/mm/jj") }}
            {% for error in form.date_constat_d.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>		
	
        <div class="form-group">
            Lieu dit du constat<br>
            {{ form.lieu_dit(size=18) }}
            {% for error in form.lieu_dit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            Propriétaire<br>
            {{ form.proprietaire_d(size=18,placeholder='Prénom Nom') }}
            {% for error in form.proprietaire_d.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            Type d'animaux<br>
            {{ form.type_animaux_d(size=4) }}
            {% for error in form.type_animaux_d.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>		
        <div class="form-group">
            Nombre de morts<br>
            {{ form.nb_victimes_mort_d(size=18) }}
            {% for error in form.nb_victimes_mort_d.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            Nombre de blessés<br>
            {{ form.nb_victimes_blesse_d(size=18) }}
            {% for error in form.nb_victimes_blesse_d.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>			
        <div class="form-group">
            Statut du constat<br>
            {{ form.statut_d(size=3) }}
            {% for error in form.statut_d.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>		
        <div><button id="subform" type="submit" class="btn btn-primary" disabled>Ajouter le constat</button></div>
    </form>
</div>
<script>
    var map = L.map('map').setView([44.8, 6.2], 10);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);	
	var marker;
	var dict={};
	$( "form" ).on( "submit", function( event ) {
		event.preventDefault();
		var formValue = $( this ).serializeArray();
		console.log(formValue)	
		dict["date_attaque_d"]=formValue[1].value;
		dict["date_constat_d"]=formValue[2].value;
		dict["lieu_dit"]=formValue[3].value;
		dict["proprietaire_d"]=formValue[4].value;
		dict["type_animaux_d"]=formValue[5].value;
		dict["nb_victimes_mort_d"]=formValue[6].value;
		dict["nb_victimes_blesse_d"]=formValue[7].value;
		dict["statut_d"]=formValue[8].value;
		
        $.ajax({
            url: "http://localhost:5000/addDecla",
            data : dico=JSON.stringify(dict),
            contentType : 'application/json',
            type : 'POST',
			datatype:'html'
        })
        .done(function( data ) {
            window.location.href="http://localhost:5000/decla"
        });			
	});
	var addConstat=function(e){
		if(marker!=undefined){
            map.removeLayer(marker)	
		}
        marker = L.marker(e.latlng)
        marker.addTo(map);
        marker.bindPopup("Vous placez un constat ici").openPopup();		
		console.log(e)
		dict["geom"]=e.latlng;
		document.getElementById("subform").disabled=false;
	}
	map.on("click",addConstat);	
</script>
{% endblock %}