{% extends "base.html" %}
{% block content %}
	<div id="liste" class="leftMap">
		{% for constats in Constats %}
			<button data-toggle="collapse" data-target="#textConstat{{constats.properties.id_constat}}" style="margin:10px; display:list-item block;" onclick="affichePopup(textConstat{{constats.properties.id_constat}}.id)">{{constats.properties.id_constat}}</button>
			<div style="vertical-align:middle;"id="textConstat{{constats.properties.id_constat}}" class="collapse">
				Numéro : {{constats.properties.id_constat}} <br>
				Date de l'attaque : {{constats.properties.date_attaque}} <br>
				Date du constat : {{constats.properties.date_constat}}<br>
				Nombre de victimes (mort) : {{ constats.properties.nb_victimes_mort }}<br>
				Nombre de victimes (blessé) : {{ constats.properties.nb_victimes_blesse }}<br>
				Nom du 1er agent recenseur : {{ constats.properties.nom_agent1 }}<br>
				Nom du 2ème agent recenseur : {{ constats.properties.nom_agent2 }}<br>
				Propriétaire : {{ constats.properties.proprietaire }}<br>
				Type d'animaux : {{ constats.properties.type_animaux }}<br>
				Statut : {{ constats.properties.statut }}
			</div>
			<br>
		{%endfor%}
	</div>
	<div id="map"></div>
    <button onclick="changeZoom()">
        Vue sur le parc
    </button>
    <a href='/add'>Ajouter un constat</button>	
    <script>
        // CONFIGURATION DE LA CARTE //
        var map = L.map('map').setView([44.8, 6.2], 10);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map); 
        // ACTIONS SUR LA CARTE
        function changeZoom() {
            map.setZoom(10);
            map.setView([44.8, 6.2]);   
        }
        var marker;   
        map.on('click', function(event){
            if (marker == undefined) {
                marker = L.marker(event.latlng)
                marker.addTo(map);
                marker.bindPopup("X: "+event.latlng.lng.toString()+" Y: "+event.latlng.lat.toString()).openPopup();
            }
            else {
                map.removeLayer(marker)
                marker = L.marker(event.latlng)
                marker.addTo(map);
                marker.bindPopup("X: "+event.latlng.lng.toString()+" Y: "+event.latlng.lat.toString()).openPopup();
            }
        });     
        var jsonData = [
			{% for constats in Constats %}
				{
				'id_constat':'{{constats.properties.id_constat}}',
				'date_attaque': '{{ constats.properties.date_attaque }}',
				'date_constat': '{{ constats.properties.date_constat }}',
				'nb_victimes_mort': '{{ constats.properties.nb_victimes_mort }}',
				'nb_victimes_blesse': '{{ constats.properties.nb_victimes_blesse }}',
				'nom_agent1': '{{ constats.properties.nom_agent1 }}',
				'nom_agent2': '{{ constats.properties.nom_agent2 }}',
				'proprietaire': '{{ constats.properties.proprietaire }}',
				'type_animaux': '{{ constats.properties.type_animaux }}',
				'statut': '{{ constats.properties.statut }}',
				'geometry': '{{ constats.geometry | tojson}}'
				},
			{% endfor %}
        ]
        var addMarkers = function(point) {
			console.log(JSON.parse(point.geometry))
            L.marker([JSON.parse(point.geometry).coordinates[1],JSON.parse(point.geometry).coordinates[0]]) 
				.bindPopup("Constat numéro : "+point.id_constat+"<br>"+ 
					"Date de l'attaque : "+point.date_attaque+"<br>"+ 
				    "Date du constat : "+point.date_constat+"<br>"+ 
					"Nombre de victimes (mort) : "+point.nb_victimes_mort+"<br>"+ 
					"Nombre de victimes (blessé) : "+point.nb_victimes_blesse+"<br>"+ 
					"Nom du 1er agent recenseur : "+point.nom_agent1+"<br>"+ 
					"Nom du 2eme agent recenseur : "+point.nom_agent2+"<br>"+ 
					"Propriétaire : "+point.proprietaire+"<br>"+ 
					"Type d'animaux : "+point.type_animaux+"<br>"+ 
					"Statut : "+point.statut+"<br>" 
					) 
				.addTo(map); 
        };
        jsonData.forEach(addMarkers);
		affichePopup=function(constat){
			console.log(constat)
		}
	</script>
{% endblock %}