{% extends "base.html" %}

{% block content %}
    <div id="map" style="height: 92vh;"></div>
    <div class="john"> </div>
	<div id="liste"></div>
    <button id='red' onclick="changeZoom()">
            Vue sur le parc
    </button>
    <button id='addConstat' onclick="addConstat()">
            Ajouter un constat
    </button>	
    <script>
        // CONFIGURATION DE LA CARTE //
        var map = L.map('map').setView([44.8, 6.2], 10);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
            
        // ACTIONS SUR LA CARTE
        function changeZoom() {
            map.setZoom(10);
            map.setView([44.8, 6.2]);   
        }
        var marker;   
            map.on('click', function(event){

                if (marker == undefined) {
            
                    marker = L.marker(event.latlng)
                    marker.addTo(map);
                    console.log(event.latlng)
                    marker.bindPopup("X: "+event.latlng.lng.toString()+" Y: "+event.latlng.lat.toString()).openPopup();
                            }
            
                else {
                    map.removeLayer(marker)
                    marker = L.marker(event.latlng)
                    marker.addTo(map);
                    marker.bindPopup("X: "+event.latlng.lng.toString()+" Y: "+event.latlng.lat.toString()).openPopup();
                }
                        
            });     

        var jsonData = [
        {% for constats in Constats %}
            {
			"id_constat":"{{constats.properties.id_constat}}",
			"date_attaque": "{{ constats.properties.date_attaque }}",
            "date_constat": "{{ constats.properties.date_constat }}",
            "nb_victimes_mort": "{{ constats.properties.nb_victimes_mort }}",
			"nb_victimes_blesse": "{{ constats.properties.nb_victimes_blesse }}",
            "nom_agent1": "{{ constats.properties.nom_agent1 }}",
			"nom_agent2": "{{ constats.properties.nom_agent2 }}",
            "proprietaire": "{{ constats.properties.proprietaire }}",
            "typeAnimaux": "{{ constats.properties.type_animaux }}",
			"statut": "{{ constats.properties.statut }}",
			"geometry": "{{ constats.geometry}}"
            },
        {% endfor %}
            ]
			console.log(jsonData[0])
			console.log(jsonData[0].geometry.split(",")[2].substring(0,jsonData[0].geometry.split(",")[2].length-1).split("]")[0])
			console.log(jsonData[0].geometry.split(",")[1].substring(1).split("[")[1])

			<!-- L.geoJSON(coucheConstat).addTo(map); -->
            var addMarkers = function(point) {
                L.marker([parseFloat(point.geometry.split(",")[2].substring(0,point.geometry.split(",")[2].length-1).split("]")[0]),parseFloat(point.geometry.split(",")[1].substring(1).split("[")[1])])
                .bindPopup("Constat numéro: "+point.id_constat)
				.addTo(map);
			
            };
            jsonData.forEach(addMarkers);
    </script>

{% endblock %}