{% extends "base.html" %}

{% block content %}
<center><h1>Constat {{Constats.properties.id_constat}}</h1></center>
<div id="map" style="height: 92vh;"></div>
<div class="leftMap">
    <form action="{{url_for('updateDB')}}" method="post">
            {{ form.hidden_tag() }}
			<div class="form-group">
				Date de l'attaque <br>
				{{ form.date_attaque(size=18,value=Constats.properties.date_attaque) }}
				{% for error in form.date_attaque.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Date du constat <br>
				{{ form.date_constat(size=18,value=Constats.properties.date_constat) }}
				{% for error in form.date_constat.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Nom du premier agent <br>			
				{{ form.nom_agent1(size=18,value=Constats.properties.nom_agent1) }}
				{% for error in form.nom_agent1.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Nom du deuxième agent <br>		
				{{ form.nom_agent2(size=18,value=Constats.properties.nom_agent2) }}
				{% for error in form.nom_agent2.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Propriétaire <br>			
				{{ form.proprietaire(size=18,value=Constats.properties.proprietaire) }}
				{% for error in form.proprietaire.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Type d'animaux <br>	
				{{ form.type_animaux(size=3,value=Constats.properties.type_animaux) }}
				{% for error in form.type_animaux.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Nombre de morts <br>		
				{{ form.nb_victimes_mort(size=18,value=Constats.properties.nb_victimes_mort) }}
				{% for error in form.nb_victimes_mort.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Nombre de blessés<br>		
				{{ form.nb_victimes_blesse(size=18, value=Constats.properties.nb_victimes_blesse) }}
				{% for error in form.nb_victimes_blesse.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Statut du constat <br>	
				{{ form.statut(size=3, value=Constats.properties.statut) }}
				{% for error in form.statut.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
        <div class="form-group">
            Nombre de jours agent <br>
            {{ form.nb_jour_agent(size=18,value=Constats.properties.nb_jour_agent) }}
            {% for error in form.nb_jour_agent.errors %}
            <span style="color: red;">[{{ error }}]</span>					
				{% endfor %}
		</div>
		<input type="hidden"  type="text" name="id_constat" id="id_constat">
		<input type="hidden"  type="text" name="geomlat" id="geomlat">
        <input type="hidden"  type="text" name="geomlng" id="geomlng">
		<br>		
		<button type="submit" class="btn btn-primary">Modifier le constat</button>
    </form>
</div>
<script>
    var map = L.map('map').setView([44.8, 6.2], 10);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);	
	
	var constatFilter={
		'id_constat':'{{Constats.properties.id_constat}}',
		'date_attaque': '{{ Constats.properties.date_attaque }}',
		'date_constat': '{{ Constats.properties.date_constat }}',
		'nb_victimes_mort': '{{ Constats.properties.nb_victimes_mort }}',
		'nb_victimes_blesse': '{{ Constats.properties.nb_victimes_blesse }}',
		'nom_agent1': '{{ Constats.properties.nom_agent1 }}',
		'nom_agent2': '{{ Constats.properties.nom_agent2 }}',
		'proprietaire': '{{ Constats.properties.proprietaire }}',
		'type_animaux': '{{ Constats.properties.type_animaux }}',
		'statut': '{{ Constats.properties.statut }}',
		'secteur': '{{ Constats.properties.secteur }}',
		'commune': '{{ Constats.properties.commune }}',
		'geometry': '{{ Constats.geometry | tojson}}'
	};
		document.getElementById("geomlat").value = JSON.parse(constatFilter.geometry).coordinates[1];
        document.getElementById("geomlng").value = JSON.parse(constatFilter.geometry).coordinates[0];
	var marker=L.marker([JSON.parse(constatFilter.geometry).coordinates[1],JSON.parse(constatFilter.geometry).coordinates[0]]) 
		.bindPopup("Constat numéro : "+constatFilter.id_constat+"<br>"+ 
		"Date de l'attaque : "+constatFilter.date_attaque+"<br>"+ 
	    "Date du constat : "+constatFilter.date_constat+"<br>"+ 
		"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort+"<br>"+ 
		"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse+"<br>"+ 
		"Nom du 1er agent recenseur : "+constatFilter.nom_agent1+"<br>"+ 
		"Nom du 2eme agent recenseur : "+constatFilter.nom_agent2+"<br>"+ 
		"Propriétaire : "+constatFilter.proprietaire+"<br>"+ 
		"Type d'animaux : "+constatFilter.type_animaux+"<br>"+ 
		"Secteur : "+constatFilter.secteur+"<br>"+ 
		"Commune : "+constatFilter.commune+"<br>"+ 
		"Statut : "+constatFilter.statut+"<br>" 
	) 
	.addTo(map);
document.getElementById("id_constat").value = {{Constats.properties.id_constat}};	
	var addConstat=function(e){
		if(marker!=undefined){
            map.removeLayer(marker)	
		}
        marker = L.marker(e.latlng)
        marker.addTo(map);
        marker.bindPopup("Constat numéro : "+constatFilter.id_constat+"<br>"+ 
			"Date de l'attaque : "+constatFilter.date_attaque+"<br>"+ 
			"Date du constat : "+constatFilter.date_constat+"<br>"+ 
			"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort+"<br>"+ 
			"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse+"<br>"+ 
			"Nom du 1er agent recenseur : "+constatFilter.nom_agent1+"<br>"+ 
			"Nom du 2eme agent recenseur : "+constatFilter.nom_agent2+"<br>"+ 
			"Propriétaire : "+constatFilter.proprietaire+"<br>"+ 
			"Type d'animaux : "+constatFilter.type_animaux+"<br>"+ 
			"Secteur : "+constatFilter.secteur+"<br>"+ 
			"Commune : "+constatFilter.commune+"<br>"+ 
			"Statut : "+constatFilter.statut+"<br>" 
		).openPopup();		
		document.getElementById("geomlat").value = e.latlng.lat;
        document.getElementById("geomlng").value = e.latlng.lng;
	}
	map.on("click",addConstat);
</script>
{% endblock %}