{% extends "base.html" %}

{% block content %}
<center><h1>Constat {{Declaratif.id_constat}}</h1></center>
<div id="map" style="height: 92vh;"></div>
<div class="leftMap">
    <form action="{{url_for('updateDBDecla')}}" method="post" novalidate>
            {{ form.hidden_tag() }}
		<div class="row">	
			<div class="col-7">
				Date de l'attaque :
			</div>
			<div class="mr-1 col-4">
				{{ form.date_attaque_d(size=18,value=Declaratif.properties.date_attaque_d) }}
				{% for error in form.date_attaque_d.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>
		<br>
		<div class="row">		
			<div class="col-7">
				Date du constat :
			</div>
			<div class="mr-1 col-4">
				{{ form.date_constat_d(size=18,value=Declaratif.properties.date_constat_d) }}
				{% for error in form.date_constat_d.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>		
		</div>
		<br>
		<div class="row">	
			<div class="col-7">
				Lieu dit du constat :
			</div>
			<div class="mr-1 col-4">			
				{{ form.lieu_dit(size=18,value=Declaratif.properties.lieu_dit) }}
				{% for error in form.lieu_dit.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>
		<br>
		<div class="row">		
			<div class="col-7">
				Propriétaire :
			</div>
			<div class="mr-1 col-4">			
				{{ form.proprietaire_d(size=18,value=Declaratif.properties.proprietaire_d) }}
				{% for error in form.proprietaire_d.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>
		<br>
		<div class="row">		
			<div class="col-7">
				Type d'animaux :
			</div>
			<div class="mr-1 col-4">			
				{{ form.type_animaux_d(size=4,value=Declaratif.properties.type_animaux_d) }}
				{% for error in form.type_animaux_d.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>	
		</div>
		<br>
		<div class="row">		
			<div class="col-7">
				Nombre de morts :
			</div>
			<div class="mr-1 col-4">			
				{{ form.nb_victimes_mort_d(size=18,value=Declaratif.properties.nb_victimes_mort_d) }}
				{% for error in form.nb_victimes_mort_d.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>
		<br>
		<div class="row">		
			<div class="col-7">
				Nombre de blessés :
			</div>
			<div class="mr-1 col-4">			
				{{ form.nb_victimes_blesse_d(size=18, value=Declaratif.properties.nb_victimes_blesse_d) }}
				{% for error in form.nb_victimes_blesse_d.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>
		<br>
		<div class="row">		
			<div class="col-7">
				Statut du constat :
			</div>
			<div class="mr-1 col-4">			
				{{ form.statut_d(size=3, value=Declaratif.properties.statut_d) }}
				{% for error in form.statut_d.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
		</div>
		<br>		
        <center><button type="submit" class="btn btn-primary">Modifier le constat</button></center>
		<input type="hidden"  type="text" name="geomlat" id="geomlat">
        <input type="hidden"  type="text" name="geomlng" id="geomlng">		
    </form>
</div>
<script>
    var map = L.map('map').setView([44.8, 6.2], 10);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);		
	var constatFilter={
		'id_constat_d':'{{Declaratif.properties.id_constat_d}}',
		'date_attaque_d': '{{ Declaratif.properties.date_attaque_d }}',
		'date_constat_d': '{{ Declaratif.properties.date_constat_d }}',
		'nb_victimes_mort_d': '{{ Declaratif.properties.nb_victimes_mort_d }}',
		'nb_victimes_blesse_d': '{{ Declaratif.properties.nb_victimes_blesse_d }}',
		'lieu_dit': '{{ Declaratif.properties.lieu_dit}}',
		'proprietaire_d': '{{ Declaratif.properties.proprietaire_d }}',
		'type_animaux_d': '{{ Declaratif.properties.type_animaux_d }}',
		'statut_d': '{{ Declaratif.properties.statut_d }}',
		'secteur_d': '{{ Declaratif.properties.secteur_d }}',
		'commune_d': '{{ Declaratif.properties.commune_d }}',
		'geometry':'{{Declaratif.geometry | tojson}}'
	}
	var marker=L.marker([JSON.parse(constatFilter.geometry).coordinates[1],JSON.parse(constatFilter.geometry).coordinates[0]]) 
	.bindPopup("Constat numéro : "+constatFilter.id_constat_d+"<br>"+ 
		"Date de l'attaque : "+constatFilter.date_attaque_d+"<br>"+ 
		"Date du constat : "+constatFilter.date_constat_d+"<br>"+ 
		"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort_d+"<br>"+ 
		"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse_d+"<br>"+ 
		"Lieu dit : "+constatFilter.lieu_dit+"<br>"+ 
		"Propriétaire : "+constatFilter.proprietaire_d+"<br>"+ 
		"Type d'animaux : "+constatFilter.type_animaux_d+"<br>"+ 
		"Secteur : "+constatFilter.secteur_d+"<br>" 
		"Commune : "+constatFilter.commune_d+"<br>" 
		"Statut : "+constatFilter.statut+"<br>" 
	).addTo(map); 

	var addConstat=function(e){
		if(marker!=undefined){
            map.removeLayer(marker)	
		}
        marker = L.marker(e.latlng)
        marker.addTo(map);
        marker.bindPopup("Constat numéro : "+constatFilter.id_constat_d+"<br>"+ 
			"Date de l'attaque : "+constatFilter.date_attaque_d+"<br>"+ 
			"Date du constat : "+constatFilter.date_constat_d+"<br>"+ 
			"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort_d+"<br>"+ 
			"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse_d+"<br>"+ 
			"Nom du 1er agent recenseur : "+constatFilter.nom_agent1+"<br>"+ 
			"Nom du 2eme agent recenseur : "+constatFilter.nom_agent2+"<br>"+ 
			"Propriétaire : "+constatFilter.proprietaire+"<br>"+ 
			"Type d'animaux : "+constatFilter.type_animaux+"<br>"+ 
			"Secteur : "+constatFilter.secteur_d+"<br>"+ 
			"Commune : "+constatFilter.commune_d+"<br>"+ 
			"Statut : "+constatFilter.statut+"<br>" 
		).openPopup();
		document.getElementById("geomlat").value = e.latlng.lat;
        document.getElementById("geomlng").value = e.latlng.lng;		
	}
	map.on("click",addConstat);	
</script>
{% endblock %}