{% extends "base.html" %}

{% block content %}
<div id="map" style="height: 92vh;"></div>
<div class="leftMap">
<h1>Ajouter un constat</h1>
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <p>
            Date de l'attaque :
            {{ form.date_attaque(size=18,value=Constats.properties.date_attaque) }}
            {% for error in form.date_attaque.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Date du constat :
            {{ form.date_constat(size=18,value=Constats.properties.date_constat) }}
            {% for error in form.date_constat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>		
	
        <p>
            Nom du premier agent :
            {{ form.nom_agent1(size=18,value=Constats.properties.nom_agent1) }}
            {% for error in form.nom_agent1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Nom du deuxième agent :
            {{ form.nom_agent2(size=18,value=Constats.properties.nom_agent2) }}
            {% for error in form.nom_agent2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Propriétaire :
            {{ form.proprietaire(size=18,value=Constats.properties.proprietaire) }}
            {% for error in form.proprietaire.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Type d'animaux} :
            {{ form.type_animaux(size=18,value=Constats.properties.type_animaux) }}
            {% for error in form.type_animaux.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>		
        <p>
            Nombre de morts :
            {{ form.nb_victimes_mort(size=18,value=Constats.properties.nb_victimes_mort) }}
            {% for error in form.nb_victimes_mort.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Nombre de blessés :
            {{ form.nb_victimes_blesse(size=18, value=Constats.properties.nb_victimes_blesse) }}
            {% for error in form.nb_victimes_blesse.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>			
        <p>
            Statut du constat :
            {{ form.statut(size=18, value=Constats.properties.statut) }}
            {% for error in form.statut.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>		
        <p><button type="submit">Modifier le constat</button></p>
    </form>
</div>
<script>
    var map = L.map('map').setView([44.8, 6.2], 10);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);	
	
	var constatFilter={
		'id_constat':'{{Constats.properties.id_constat}}',
		'date_attaque': '{{ Constats.properties.date_attaque }}',
		'date_constat': '{{ Constats.properties.date_constat }}',
		'nb_victimes_mort': '{{ Constats.properties.nb_victimes_mort }}',
		'nb_victimes_blesse': '{{ Constats.properties.nb_victimes_blesse }}',
		'nom_agent1': '{{ Constats.properties.nom_agent1 }}',
		'nom_agent2': '{{ Constats.properties.nom_agent2 }}',
		'proprietaire': '{{ Constats.properties.proprietaire }}',
		'type_animaux': '{{ Constats.properties.type_animaux }}',
		'statut': '{{ Constats.properties.statut }}',
		'geometry': '{{ Constats.geometry | tojson}}'
	}
	console.log(constatFilter)
	var marker=L.marker([JSON.parse(constatFilter.geometry).coordinates[1],JSON.parse(constatFilter.geometry).coordinates[0]]) 
		.bindPopup("Constat numéro : "+constatFilter.id_constat+"<br>"+ 
		"Date de l'attaque : "+constatFilter.date_attaque+"<br>"+ 
	    "Date du constat : "+constatFilter.date_constat+"<br>"+ 
		"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort+"<br>"+ 
		"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse+"<br>"+ 
		"Nom du 1er agent recenseur : "+constatFilter.nom_agent1+"<br>"+ 
		"Nom du 2eme agent recenseur : "+constatFilter.nom_agent2+"<br>"+ 
		"Propriétaire : "+constatFilter.proprietaire+"<br>"+ 
		"Type d'animaux : "+constatFilter.type_animaux+"<br>"+ 
		"Statut : "+constatFilter.statut+"<br>" 
	) 
	.addTo(map); 
	var addConstat=function(e){
		if(marker!=undefined){
            map.removeLayer(marker)	
		}
		var marker;
        marker = L.marker(e.latlng)
        marker.addTo(map);
        marker.bindPopup("Constat numéro : "+constatFilter.id_constat+"<br>"+ 
			"Date de l'attaque : "+constatFilter.date_attaque+"<br>"+ 
			"Date du constat : "+constatFilter.date_constat+"<br>"+ 
			"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort+"<br>"+ 
			"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse+"<br>"+ 
			"Nom du 1er agent recenseur : "+constatFilter.nom_agent1+"<br>"+ 
			"Nom du 2eme agent recenseur : "+constatFilter.nom_agent2+"<br>"+ 
			"Propriétaire : "+constatFilter.proprietaire+"<br>"+ 
			"Type d'animaux : "+constatFilter.type_animaux+"<br>"+ 
			"Statut : "+constatFilter.statut+"<br>" 
		).openPopup();		
		console.log(e)
		$( "form" ).on( "submit", function( event ) {
			event.preventDefault();
			var formValue = $( this ).serializeArray();
			console.log(formValue)
			var dict={};
			dict["id_constat"]=constatFilter.id_constat;
			dict["date_attaque"]=formValue[1].value;
			dict["date_constat"]=formValue[2].value;
			dict["nom_agent1"]=formValue[3].value;
			dict["nom_agent2"]=formValue[4].value;
			dict["proprietaire"]=formValue[5].value;
			dict["type_animaux"]=formValue[6].value;
			dict["nb_victimes_mort"]=formValue[7].value;
			dict["nb_victimes_blesse"]=formValue[8].value;
			dict["statut"]=formValue[9].value;
			dict["geom"]=e.latlng;
            $.ajax({
                url: "http://localhost:5000/add",
                data : dico=JSON.stringify(dict),
                contentType : 'application/json',
                type : 'POST'
            })
            .done(function( data ) {
                console.log('done')
            });			
		});
	}
	map.on("click",addConstat);
</script>
{% endblock %}