{% extends "base.html" %}

{% block content %}
<center><h1>Constat {{Constats.properties.id_constat}}</h1></center>
<div id="map" style="height: 92vh;"></div>
<div class="leftMap">
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
			<div class="form-group">
				Date de l'attaque <br>
				{{ form.date_attaque(size=18,value=Constats.properties.date_attaque) }}
				{% for error in form.date_attaque.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Date du constat <br>
				{{ form.date_constat(size=18,value=Constats.properties.date_constat) }}
				{% for error in form.date_constat.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Nom du premier agent <br>			
				{{ form.nom_agent1(size=18,value=Constats.properties.nom_agent1) }}
				{% for error in form.nom_agent1.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Nom du deuxième agent <br>		
				{{ form.nom_agent2(size=18,value=Constats.properties.nom_agent2) }}
				{% for error in form.nom_agent2.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Propriétaire <br>			
				{{ form.proprietaire(size=18,value=Constats.properties.proprietaire) }}
				{% for error in form.proprietaire.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Type d'animaux <br>	
				{{ form.type_animaux(size=4,value=Constats.properties.type_animaux) }}
				{% for error in form.type_animaux.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Nombre de morts <br>		
				{{ form.nb_victimes_mort(size=18,value=Constats.properties.nb_victimes_mort) }}
				{% for error in form.nb_victimes_mort.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Nombre de blessés<br>		
				{{ form.nb_victimes_blesse(size=18, value=Constats.properties.nb_victimes_blesse) }}
				{% for error in form.nb_victimes_blesse.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>
		<div class="form-group">
				Statut du constat <br>	
				{{ form.statut(size=3, value=Constats.properties.statut) }}
				{% for error in form.statut.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</div>
		<br>		
		<button type="submit" class="btn btn-primary">Modifier le constat</button>
    </form>
</div>
<script>
    var map = L.map('map').setView([44.8, 6.2], 10);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);	
	
	var constatFilter={
		'id_constat':'{{Constats.properties.id_constat}}',
		'date_attaque': '{{ Constats.properties.date_attaque }}',
		'date_constat': '{{ Constats.properties.date_constat }}',
		'nb_victimes_mort': '{{ Constats.properties.nb_victimes_mort }}',
		'nb_victimes_blesse': '{{ Constats.properties.nb_victimes_blesse }}',
		'nom_agent1': '{{ Constats.properties.nom_agent1 }}',
		'nom_agent2': '{{ Constats.properties.nom_agent2 }}',
		'proprietaire': '{{ Constats.properties.proprietaire }}',
		'type_animaux': '{{ Constats.properties.type_animaux }}',
		'statut': '{{ Constats.properties.statut }}',
		'geometry': '{{ Constats.geometry | tojson}}'
	};
	console.log(constatFilter)
	var marker=L.marker([JSON.parse(constatFilter.geometry).coordinates[1],JSON.parse(constatFilter.geometry).coordinates[0]]) 
		.bindPopup("Constat numéro : "+constatFilter.id_constat+"<br>"+ 
		"Date de l'attaque : "+constatFilter.date_attaque+"<br>"+ 
	    "Date du constat : "+constatFilter.date_constat+"<br>"+ 
		"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort+"<br>"+ 
		"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse+"<br>"+ 
		"Nom du 1er agent recenseur : "+constatFilter.nom_agent1+"<br>"+ 
		"Nom du 2eme agent recenseur : "+constatFilter.nom_agent2+"<br>"+ 
		"Propriétaire : "+constatFilter.proprietaire+"<br>"+ 
		"Type d'animaux : "+constatFilter.type_animaux+"<br>"+ 
		"Statut : "+constatFilter.statut+"<br>" 
	) 
	.addTo(map); 
	var dict={};
	dict["geom"]={};
	dict["geom"]["lat"]=JSON.parse(constatFilter.geometry).coordinates[1];
	dict["geom"]["lng"]=JSON.parse(constatFilter.geometry).coordinates[0];
	$( "form" ).on( "submit", function( event ) {
		event.preventDefault();
		var formValue = $( this ).serializeArray();
		dict["id_constat"]=constatFilter.id_constat;
		dict["date_attaque"]=formValue[1].value;
		dict["date_constat"]=formValue[2].value;
		dict["nom_agent1"]=formValue[3].value;
		dict["nom_agent2"]=formValue[4].value;
		dict["proprietaire"]=formValue[5].value;
		dict["type_animaux"]=formValue[6].value;
		dict["nb_victimes_mort"]=formValue[7].value;
		dict["nb_victimes_blesse"]=formValue[8].value;
		dict["statut"]=formValue[9].value;
		console.log(dict)
        $.ajax({
			url: "http://localhost:5000/updateDB",
            data : dico=JSON.stringify(dict),
            contentType : 'application/json',
            type : 'POST',
			datatype:'html'
        })
        .done(function( data ) {
            window.location.href="http://localhost:5000/map"
        });			
	});	
	var addConstat=function(e){
		if(marker!=undefined){
            map.removeLayer(marker)	
		}
        marker = L.marker(e.latlng)
        marker.addTo(map);
		console.log(e)
        marker.bindPopup("Constat numéro : "+constatFilter.id_constat+"<br>"+ 
			"Date de l'attaque : "+constatFilter.date_attaque+"<br>"+ 
			"Date du constat : "+constatFilter.date_constat+"<br>"+ 
			"Nombre de victimes (mort) : "+constatFilter.nb_victimes_mort+"<br>"+ 
			"Nombre de victimes (blessé) : "+constatFilter.nb_victimes_blesse+"<br>"+ 
			"Nom du 1er agent recenseur : "+constatFilter.nom_agent1+"<br>"+ 
			"Nom du 2eme agent recenseur : "+constatFilter.nom_agent2+"<br>"+ 
			"Propriétaire : "+constatFilter.proprietaire+"<br>"+ 
			"Type d'animaux : "+constatFilter.type_animaux+"<br>"+ 
			"Statut : "+constatFilter.statut+"<br>" 
		).openPopup();		
		dict["geom"]=e.latlng;
	}
	map.on("click",addConstat);
</script>
{% endblock %}